<section id='image'>
  <h1>`*</h1>
</section>

<section id='container'>

<section id='select'>
  <section id='back'><a routerLink="../">back</a></section>
  <section id='read'>
    <p>read</p>
    <section id="selection">
      <section id='option'>
        <section id='selected'></section><i id=chevron class="material-icons">expand_more</i>
        <section id='options'>
          <a routerLink='../frontend'>frontend</a>
          <a routerLink='../api'>api</a>
          <a routerLink='../backend'>backend</a>
        </section>
      </section>
    </section>
  </section>
</section>

</section>
<section id='blog'>
  <h4>frontend</h4>
  the frontend is built using Angular.
  <br>
  <br>
  angular cli: 19.2.15
  <br>
  node: 22.11.0
  <br>
  package manager: npm 11.2.0
  <br>
  os: win32 x64
  <br>
  typescript: 5.8.3
</section>
