<h2 class='fade'>about</h2>

<p class='fade'>software developer looking to create functional yet artistic websites. websites shouldn't be unappealing so as to cause pain to those who interact with them.</p>
<br>

<p class='fade'>by combining intuitive keyboard shortcuts and a minimilistic design pattern, one aims to create tools and systems that bring satisfaction to those who utilise them.</p>
<br>

<p class='fade'>the target client is one with a small to medium customer base.</p>

<br>

<div class='table-section fade'>
  <tbody>
  <tr>
    <td>
      the frontend is built using Angular...
    </td>
    <td>
      angular cli: 19.2.15
      <br>
      node: 22.11.0
      <br>
      package manager: npm 11.2.0
      <br>
      os: win32 x64
      <br>
      typescript: 5.8.3
    </td>
  </tr>
  <tr>
    <td>
      django: 5.1.3
      <br>
      django rest framework: 3.16.0
      <br>
      package manager: 25.1.1
      <br>
      python: 3.12.6
    </td>
    <td>
      whilst the backend is built using <br> Django
      and api management  <br> is handled with Django Rest.
    </td>
  </tr>
  <tr>
    <td>
      the frontend, backend and <br>
      reverse proxy servers are <br>hosted on AWS EC2 instances <br> with NGINX installed.
    </td>
    <td>
      nginx version: nginx/1.29.5
      <br>
      built by gcc 13.3.0
      <br>
      built with OpenSSL 3.0.13
      <br>
      TLS SNI support enabled
    </td>
  </tr>
  </tbody>
</div>

