<section id='image'>
  <h1>`*</h1>
</section>

<section id='container'>

<section id='select'>
  <section id='back'><a routerLink="../">back</a></section>
  <section id='read'>
    <p>read</p>
    <section id="selection">
      <section id='option'>
        <section id='selected'></section><i id=chevron class="material-icons">expand_more</i>
        <section id='options'>
          <a routerLink='../frontend'>frontend</a>
          <a routerLink='../api'>api</a>
          <a routerLink='../backend'>backend</a>
        </section>
      </section>
    </section>
  </section>
</section>

</section>
<section id='blog'>
<h4>api management</h4>
<br>
<br>
api management is handled with Django Rest Framework.
<br>
<br>
django rest framework: 3.16.0
</section>
