a
{
  text-decoration: none;
}

[id=start]
{
  width: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #00000090;

  text-align: center;


  position: fixed;
  z-index: 10;
  bottom: 0px;
  right: 20px;

}

@media(pointer: fine)
{
  [id=start]
  {
    bottom: 20px;
  }
}

[id=programme], [id=route] > a
{
  margin-top: auto;
  margin-bottom: auto;
}





[id=route]
{
  display: none;
  grid-gap: 10px;
  position: absolute;
  bottom: 31px;
  padding-bottom: 10px;
  right: 0px;
}

[id=route] > a
{
  opacity: 0;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #00000060;

  text-align: center;
  margin-left: auto;



  animation: roll 0.1s ease forwards;
}

[id=start]:hover [id=route] > a:nth-child(1)
{
  animation-delay: 0.15s;
}
[id=start]:hover [id=route] > a:nth-child(2)
{
  animation-delay: 0.1s;
}
[id=start]:hover [id=route] > a:nth-child(3)
{
  animation-delay: 0.05s;
}
[id=start]:hover [id=route] > a:nth-child(4)
{
  animation-delay: 0s;
}

@keyframes roll
{
  0%
  {
    opacity: 0;
    transform: scaleX(0.90) scaleY(0.90);
  }
  100%
  {
    opacity: 1;
  }

}
