<h2 class='fade'>catalogue</h2>

<p class='fade'>visual aid + inline editing</p>
<div class='table-section fade'>
  <table id='table'>
    <thead>
        <th>one</th>
        <th>two</th>
        <th>three</th>
        <th>four</th>
        <th>five</th>
    </thead>
    <tbody *ngFor='let item of data, index as i'>
      <tr  (dblclick)='edit(item)' (keyup.enter)='post(item, i)'>

          <td *ngIf='!item.isedit' [textContent]='item.uno.data'></td>
          <td  *ngIf='item.isedit'>
            <input type="text" name='uno' [placeholder]='item.uno.data' [(ngModel)]='item.uno.data'>
          </td>

        <td *ngIf='!item.isedit' [textContent]='item.dos.data'></td>
        <td *ngIf='item.isedit'>
          <input type="text" name='dos' [placeholder]='item.dos.data' [(ngModel)]='item.dos.data'>
        </td>

        <td *ngIf='!item.isedit' [textContent]='item.tres.data'></td>
        <td *ngIf='item.isedit'>
          <input type="text" name='tres' [placeholder]='item.tres.data' [(ngModel)]='item.tres.data'>
        </td>

        <td  *ngIf='!item.isedit' [textContent]='item.quatro.data'></td>
        <td *ngIf='item.isedit'>
          <input type="text" name='quatro' [placeholder]='item.quatro.data' [(ngModel)]='item.quatro.data'>
        </td>

        <td *ngIf='!item.isedit' [textContent]='item.cinco.data'></td>
        <td *ngIf='item.isedit'>
          <input type="text" name='cinco' [placeholder]='item.cinco.data' [(ngModel)]='item.cinco.data'>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<p class='fade'>
  select any cell on the table to display <i>cell highlighting</i>. double click to enter <i>edit mode</i>. press enter to update the cell/s or alternatively esc to cancel.
</p>

<br>

<p class='fade'>definitions</p>

<div class='definition-section fade'>
  <p>
  this is a sentence.<sup>i
  <span class='definition'>
    <h4>sentence | ˈsɛnt(ə)n(t)s</h4>
    <p>a set of words that is complete in itself, typically containing a subject and a predicate, conveying a statement, question, exclamation, or command.
  </p></span>
  </sup> did you notice the superscript?
  <br>
  <br>
  a superscript is a letter, figure or symbol written higher relative to normal text. click it to reveal the information.
  <br>
  <br>
  definitions can be used to provide customers with <i>depth</i> without overwhelming them with a sea of text.</p>
</div>

<br>

<p class='fade'>shortcuts</p>


