.table-section
{
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border-radius: 5px;
  background-color: darkseagreen;
}

.definition-section
{
  width: var(--widthlesspaddingplus);
  height: fit-content;
  padding: var(--padding);
  border-radius: 5px;
  background-color: rosybrown;
}








@media (min-width: 600px)
{
  .definition-section
  {
    width: var(--midwidthlesspaddingplus);
  }

  .definition-section > p
  {
    width: 75%;
  }

  p
  {
    width: 50%;
  }


}










.fade:nth-child(1)
{
  animation-delay: 0s;
}
.fade:nth-child(2)
{
  animation-delay: 0s;
}
.fade:nth-child(3)
{
  animation-delay: 0.4s;
}
.fade:nth-child(4)
{
  animation-delay: 0.8s;
}
.fade:nth-child(5)
{
  animation-delay: 1.2s;
}
.fade:nth-child(6)
{
  animation-delay: 1.8s;
}
.fade:nth-child(7)
{
  animation-delay: 2s;
}
.fade:nth-child(8)
{
  animation-delay: 2.5s;
}
.fade:nth-child(9)
{
  animation-delay: 2.5s;
}


