thead:nth-child(1)
{
  width:100;
}

td > span
{
  pointer-events: none;
}

.table-section
{
  width: calc(100vw - 20px - 20px);
  height: fit-content;
  padding: 10px;
  border-radius: 5px;
  background-color: darkseagreen;
}

.definition-section
{
  width: calc(100vw - 20px - 20px);
  height: fit-content;
  padding: var(--padding);
  border-radius: 5px;
  background-color: rosybrown;
}

.shortcuts-section
{
/*width: calc(50vw - 20px - 20px);*/
  width: calc(100vw - 20px - 20px);
  height: fit-content;
  padding: var(--padding);
  border-radius: 5px;
  background-color: #926851;
}

.definition > p
{
  width: 100%;
}

.definition-section > p, .shortcuts-section > p
{
  width: 100%;
}

.rows
{
  display: none;
}

.lastcell
{
  min-width: calc(131px - 10px);
  width: calc(100vw - 265px);
}
.lastcellinput
{
  min-width: calc(131px - 10px - 10px);
  width: calc(100vw - 265px );
}

@media (width > 600px)
{
  .table-section
  {
    width: fit-content;
  }
  .definition-section
  {
    /*width: calc(50vw - 20px - 20px);*/
    width: calc(546px - 20px);
  }
  .shortcuts-section
  {
    /*width: calc(50vw - 20px - 20px);*/
    width: calc(546px - 20px);
  }

  .definition
  {
    width: 300px;
  }

  td
  {
    width: fit-content;
  }

  .lastcell
  {
    width: 155px;
  }

  .lastcellinput
  {
    width: 155px;
  }

  p
  {
    width: calc(546px);
  }

  .rows
  {
    display: table-cell;
  }

}

@media (width: 100%)
{

}








.fade:nth-child(1)
{
  animation-delay: 0s;
}
.fade:nth-child(2)
{
  animation-delay: 0s;
}
.fade:nth-child(3)
{
  animation-delay: 0.4s;
}
.fade:nth-child(4)
{
  animation-delay: 0.8s;
}
.fade:nth-child(5)
{
  animation-delay: 1.2s;
}
.fade:nth-child(6)
{
  animation-delay: 1.8s;
}
.fade:nth-child(7)
{
  animation-delay: 2s;
}
.fade:nth-child(8)
{
  animation-delay: 2.5s;
}
.fade:nth-child(9)
{
  animation-delay: 2.5s;
}
.fade:nth-child(10)
{
  animation-delay: 2.7s;
}
.fade:nth-child(11)
{
  animation-delay: 2.9s;
}
.fade:nth-child(12)
{
  animation-delay: 3.1s;
}

