<h2 class='fade'>catalogue</h2>

<p class='fade'>visual aid + inline editing</p>
<div class='table-section fade'>
  <table id='table'>
    <thead>
        <th style='width: calc(60px - 10px);'>unit</th>
        <th style='width: calc(150px - 10px);'>title</th>
        <th class='lastcell'>class</th>
        <th style='width: calc(40px - 10px);' class='rows'>qty</th>
        <th style='width: calc(105px - 10px);' class='rows'>order date</th>
    </thead>
    <tbody *ngFor='let item of data, index as i'>
      <tr  (dblclick)='edit(item)' (keyup.enter)='post(item, i)'>
        <td>
          <span *ngIf='!item.isedit' [textContent]='item.unit'></span>
          <input *ngIf='item.isedit'  style='width: calc(60px - 10px);' type="text" [placeholder]='item.unit' [(ngModel)]='item.unit'>
        </td>

        <td>
          <span *ngIf='!item.isedit' [textContent]='item.name'></span>
          <input *ngIf='item.isedit' style='width: calc(150px - 10px);' type="text" [placeholder]='item.name' [(ngModel)]='item.name'>
        </td>

        <td>
          <span *ngIf='!item.isedit' [textContent]='item.class'></span>
          <input *ngIf='item.isedit' class='lastcellinput' type="text" [placeholder]='item.class' [(ngModel)]='item.class'>
        </td>

        <td class='rows'>
          <span *ngIf='!item.isedit' [textContent]='item.quantity'></span>
          <input *ngIf='item.isedit' style='width: calc(40px - 10px);' type="text"[placeholder]='item.quantity' [(ngModel)]='item.quantity'>
        </td>
        <td class='rows'>
          <span *ngIf='!item.isedit' [textContent]='item.orderdate'></span>
          <input *ngIf='item.isedit' style='width: calc(105px - 10px);' type="text"[placeholder]='item.orderdate' [(ngModel)]='item.orderdate'>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<p class='fade'>
  select any cell on the table to display <i>cell highlighting</i>. double click to enter <i>edit mode</i>. press enter to update the cell/s or alternatively esc to cancel.
</p>

<br>

<p class='fade'>definitions</p>

<div class='definition-section fade'>
  <p>
  this is a sentence.<sup>i
  <span class='definition'>
    <h4>sentence | ˈsɛnt(ə)n(t)s</h4>
    <p>a set of words that is complete in itself, typically containing a subject and a predicate, conveying a statement, question, exclamation, or command.
  </p></span>
  </sup> did you notice the superscript?
  <br>
  <br>
  a superscript is a letter, figure or symbol written higher relative to normal text. hover over it to reveal a definition or further explanation. </p>
</div>

<p class='fade'>definitions can be used to provide customers with <i>depth</i> without overwhelming them with a sea of text.</p>
<br>

<p class='fade'>shortcuts</p>
<div class='shortcuts-section fade'>
  <p>
    press:
    <br>
    Alt + H to go to the home page.
    <br>
    Alt + C to go to the catelogue page.
    <br>
    Alt + A to go to the about page.
    <br>
    Alt + Shift + C to go to the contact page.
  </p>
</div>
<p class='fade'>shortcuts enable a streamlined workflow saving time taken to perform some of the most routine tasks by cutting out unnecessary movement.</p>
<br>
