:root
{
  --padding: 10px;

  --widthlesspaddingplus: calc(100vw - 20px - 20px);
  --widthlesspadding: calc(100vw - 20px);
  --midwidthlesspaddingplus: calc(50vw - 20px - 20px);
  --midwidthlesspadding: calc(50vw - 20px);
  --heightlesspaddingplus: calc(100vh - 20px - 20px);
  --heightlesspadding: calc(100vh - 20px);
  /* width: vw minus body:padding + parent:padding */
}

/* experiments */
.del
{
    visibility: hidden;
}

*
{
  margin: 0px;
  padding: 0px;
}

body
{
  width: var(--widthlesspadding);

  padding: var(--padding);

  color: black;
  background-color: white;

  font-size: 20px;

  overflow-x: hidden !important;
}

p
{
  width: 75%;
}

.title
{
  font-size: 180px;
  line-height: 180px;
  font-weight: 1000;
  word-wrap: wrap;

  position: relative;
  z-index: -1;

}

/* visual aid + inline editing */
table
{
  background-color: darkseagreen;
}

table, th, tr, td
{
  border: 0.5px solid;
  border-collapse: collapse;
}

th, td
{
  padding: 5px;
  /*height: 20px;*/
  text-align: left;
  vertical-align: text-top;
}

input
{
  margin: auto;
  background-color: transparent;
  border: none;
  text-align: left;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: #444444;

}

input:focus{
  /*pointer-events: none;*/
  outline: 1px inset;
}

/* definitions */
sup
{
  color: #222222;
  padding-left: 1px;
  padding-bottom: 5px;
  padding-top: 5px;
}

sup:hover .definition
{
  visibility: visible;
}

span.definition
{
  width: 200px;
  background-color: #bc8f8f75;
  backdrop-filter: blur(1px);
  padding: 10px;
  border-radius: 5px;
  border: 4px inset #bc8f8f25;
  position: absolute;
  z-index: 2;
  transform: translateY(-20px);
  visibility: hidden;
  color: black;
}


/* transitions */

.fade
{
  opacity: 0;
  animation: fade 1s ease-out forwards;
}
.fade-tw
{
  opacity: 0;
  animation: fade-tw 1s ease-out forwards;
}

@keyframes fade{
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes fade-tw{
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}








@media (max-width: 600px)
{
  body{
    background-color: white;
  }

  .title
  {
    font-size: 230px;
    line-height: 230px;
    font-weight: 1000;
  }






}
