*
{
  margin: 0px;
  padding: 0px;
}

img
{
  width: 90px;
  height: 90px;
}

.matrix-codes
{
  position: relative;
  top: 2px;
}

td
{
  width: 300px;
  vertical-align: top;
}



/* <div class="shape"> OR <img class="shape"> */
.cursor {
  background-color: darkseagreen;
  opacity: 40%;
  height: 100px;
  width: 80px;
	clip-path: shape(from 0% 2.7%,vline to 97.3%,curve by 6.33% 1.88% with 0% 2.42%/4.02% 3.6%,line by 36.21% -26.14%,arc by 2.61% -0.81% of 3.72% 2.69% small cw,hline by 51.18%,arc by 2.61% -4.57% of 3.72% 2.69% small ccw,line to 6.33% 0.77%,arc by -6.33% 1.88% of 3.72% 2.69% small ccw,close);
}
