<p class='title'>ge`<br>ne<br>sis</p>
<p class='tail'>ground up web development.</p>

<div class='del'>
  <tr>
    <td>
      <p>the frontend is built using Angular</p>
    </td>
    <td>
      angular cli: 19.2.15
      <br>
      node: 22.11.0
      <br>
      package manager: npm 11.2.0
      <br>
      os: win32 x64
      <br>
      typescript: 5.8.3
    </td>
    <td class='matrix-codes'>
      <a href='https://angular.dev/'>
        <img src="images/angular-matrix.GIF" alt="angular matrix">
      </a>
    </td>
  </tr>

  <br>
  <br>

  <tr>
    <td class='matrix-codes'>
      <a href="https://www.djangoproject.com/">
        <img src="images/django-matrix.GIF" alt="django matrix">
      </a>
    </td>
    <td>
      django: 5.1.3
      <br>
      django rest framework: 3.16.0
      <br>
      package manager: 25.1.1
      <br>
      python: 3.12.6
    </td>
    <td>
      <p>whilst the backend is built using <br>Django.</p>
      <p>api management is handled <br>with Django Rest.</p>
    </td>
  </tr>

  <br>
  <br>

  <tr>
    <td>
      <p>both the frontend and backend are hosted on <br>AWS EC2 instances with NGINX <br>installed.</p>
    </td>
    <td>
      nginx version: nginx/1.29.5
      <br>
      built by gcc 13.3.0 (Ubuntu 13.3.0-6ubuntu2~24.04)
      <br>
      built with OpenSSL 3.0.13 30 Jan 2024
      <br>
      TLS SNI support enabled
    </td>
    <td class='matrix-codes'>
      <a href='https://nginx.org/'>
        <img src="images/nginx-matrix.GIF" alt="nginx matrix">
      </a>
    </td>
  </tr>

  <!--
  <div class='cursor'></div>
  -->
</div>
