<section id='container2'>
  <section id='title'>
    apollo 11 lauch date: july 16, 1969
  </section>
</section>

<section id='image-plus'>
  <img id='dodai' src="dodai-medium.png" alt="&#22303; &#21488;">
  <!--
  <h5>&#22303; &#21488;</h5>
  -->
</section>

<section id='statement'>
  ground up <br> web development.
</section>

<section id='pack'>

  <section id='root' class='animation3'>

    <video id='vid1' class='fill' autoplay muted loop playsinline poster="rootposter.jpg" >
    <source src="root.mp4" type="video/mp4">
    <!-- You can add more source tags for different video formats for wider browser compatibility -->
    Your browser does not support the video tag.
  </video>
<section id='content'>
    <h5 id='sub-title'>backend</h5>
    data infrastucture
    <section id='read2'>
      <a routerLink="backend">read</a>
    </section>
    </section>
  </section>

  <section id='stem' class='animation2'>

<video id='vid' autoplay muted loop playsinline poster="stemposter.jpg" >
    <source src="stem.mp4" type="video/mp4">
    <!-- You can add more source tags for different video formats for wider browser compatibility -->
    Your browser does not support the video tag.
  </video>
<section id='content'>
      <h5 id='sub-title'>api management</h5>
      communication is key
      <section id='read2'>
        <a routerLink="api">read</a>
      </section>
    </section>


  </section>

  <section id='branch' class='animation1'>


  <video id='vid' autoplay muted loop playsinline poster="branchposter.jpg" >
    <source src="branch.mp4" type="video/mp4">
    <!-- You can add more source tags for different video formats for wider browser compatibility -->
    Your browser does not support the video tag.
  </video>
<section id='content'>
  <h5 id='sub-title'>frontend</h5>
    ctrl + alt + create
    <section id='read2'>
      <a routerLink="frontend">read</a>
    </section>

  </section>
</section>
</section>


