<section id='title'>
  random information to be displayed here.
</section>

<section id='image'>
  <h1>`*</h1>
</section>

<section id='statement'>
  ground up <br> web development.
</section>

<section id='pack'>

  <section id='root' style='background-color: #111111'>
    django
  </section>

  <section id='stem' style='background-color: #222222'>
    django rest
  </section>

  <section id='branch' style='background-color: #333333'>
    angular
  </section>

</section>

<section id='start'>
  programme

  <section id='route'>
    <a routerLink="">home</a>
    <a routerLink="catalogue">catalogue</a>
    <a routerLink="about">about</a>
    <a routerLink="contact">contact</a>
  </section>

</section>
