a
{
  text-decoration: none;
}

[id=title]
{
  width: calc(100vw - 40px - 10px);

  padding: 5px;

  text-align: center;

  background-color: #111111;
  border-radius: 10px;
}


[id=statement]
{
  width: calc(100vw - 40px);
  text-align: center;

  position: absolute;
  top: 18vh;
}

[id=root], [id=stem], [id=branch]
{
  opacity: 0.60;
  width: calc(100vw - 40px - 40px);
  height: calc(65vh - 40px - 10vh);

  padding: 20px;

  border-radius: 20px;

  position: absolute;
}






[id=pack]
{
  position: absolute;
  bottom: -10vh;
}

[class=card]
{
  transition: all 400ms;
}

[id=root]
{
  /*background-color: #111111;*/
  bottom: 160px;
}

[id=stem]
{
  /*background-color: #222222;*/
  bottom: 80px;
}

[id=branch]
{
  /*background-color: #333333;*/
  bottom: 0px;
}

[id=sub-title]
{
  letter-spacing: 2px;
  margin-bottom: 5px;
}

h5
{
  pointer-events: none;
}


[id=read2]
{
  width: fit-content;
  margin-top: 40px;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  letter-spacing: 2px;
  background-color: #00000060;
}





[class=transition]
{
  transition: all 0.5s ease;
}

[class=fx]
{
  animation: fade 0.5s;
}

[class=paralysis]
{
  pointer-events: none;
}

@keyframes fade
{
  0%
  {
    opacity: 0;
    transform: translateY(80px) scaleX(0.90);
  }
  100%
  {
    opacity: 0.65;
  }

}
